/* general */
body {
  margin: 0;
  padding: 0;
  font-family: "Smythe", cursive;
}

header,
main {
  margin: 0 auto;
  max-width: 600px;
  padding: 15px;
}

/* header */
header {
  background: no-repeat url("./images/burger-background.png") lightgray 50% /
    cover;
  padding: 45px;
}

h1,
h2 {
  color: #fff;
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 39px;
}

h2 {
  font-size: 22px;
  padding: 10px 0;
}

h3 {
  color: #000;
  font-family: Verdana;
  font-size: 24px;
  font-weight: 700;
}

/* menu list */
.item-inner {
  display: flex;
  align-items: start;
  gap: 30px;
  margin: 40px 0;
  padding-bottom: 45px;
  border-bottom: 1px solid #d2d2d2;
}

/* menu items */
.item-emoji {
  font-size: 80px;
  margin: 0;
}

.item-name {
  font-size: 28px;
  margin: 0;
}

.item-ingredients {
  color: #8b8b8b;
  font-size: 16px;
  margin: 8px 0;
}

.item-price {
  font-size: 20px;
  margin: 0;
  margin-left: auto;
}

/* order list */
.order-inner {
  padding: 10px 0;
}
.order-title {
  font-size: 28px;
  text-align: center;
  margin: 20px 0;
}

/* order items */
.order-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 0;
}

.order-total {
  border-top: 2px solid #393333;
  display: flex;
  align-items: center;
}

/* buttons */
button {
  cursor: pointer;
}

.ordering-circle {
  background-color: #fff;
  color: #3c3c3c;
  border: 0.5px solid #dedede;
  border-radius: 50%;
  margin: 5px 0 0 auto;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  width: 50px;
  height: 50px;
}

.ordering-circle:hover,
.ordering-circle:focus {
  color: #16db99;
  font-weight: 400;
}

#add-btn {
  width: 50px;
  height: 50px;
}

#remove-btn {
  color: #bbb;
  background-color: #fff;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.quantity-btn {
  font-size: 16px;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.submit-btn {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: #16db99;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  padding: 18px 0;
  margin: 28px 0;
  width: 100%;
}

#pay-btn {
  font-size: 20px;
}

/* modal */
.modal {
  position: fixed;
  margin: 0 auto;
  padding: 30px 20px;
  top: 200px;
  bottom: 80px;
  max-height: 450px;
  left: 30px;
  max-width: 520px;
  right: 30px;
  border-radius: 3.89px;
  background: #fff;
  filter: drop-shadow(
    5.186544418334961px 5.186544418334961px 255.43731689453125px
      rgba(0, 0, 0, 0.5)
  );
}

.modal-inner {
  text-align: center;
}

/* payment modal */

input {
  color: #757575;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
  border-radius: 3.89px;
  border: 1.297px solid #757575;
  width: 100%;
  padding: 15px 25px;
  margin-top: 20px;
}

/* feedback modal */
#feedback-modal-inner {
  padding-top: 30px;
}

.feedback-emojis {
  padding: 60px 0px;
}

.emoji-btn {
  background: #fff;
  border: none;
  font-size: 60px;
  padding: 10px;
}

/* confirmation message */
.confirmation-message {
  color: #065f46;
  font-size: 32px;
  font-weight: 400;
  border-radius: 3px;
  background: #ecfdf5;
  padding: 45px 10px;
  text-align: center;
  margin: 45px 0;
}

/* utility class */
.hidden {
  display: none;
}
