/* general */
body {
  margin: 0;
  padding: 0;
  font-family: "Smythe", cursive;
}

header,
main {
  margin: 0 auto;
  max-width: 600px;
  padding: 5px;
}

/* header */
header {
  background: no-repeat url("./images/burger-background.png") lightgray 50% /
    cover;
  padding: 45px;
}

h1,
h2 {
  color: #fff;
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 39px;
}

h2 {
  font-size: 22px;
  padding: 10px 0;
}

/* menu list */
.item-inner {
  display: flex;
  align-items: start;
  gap: 30px;
  margin: 40px 0;
  padding-bottom: 45px;
  border-bottom: 1px solid #d2d2d2;
}

/* menu items */
.item-emoji {
  font-size: 80px;
  margin: 0;
}

.item-name {
  font-size: 28px;
  margin: 0;
}

.item-ingredients {
  color: #8b8b8b;
  font-size: 16px;
  margin: 8px 0;
}

.item-price {
  font-size: 20px;
  margin: 0;
  margin-left: auto;
}

.add-btn {
  background-color: #fff;
  color: #3c3c3c;
  border: 0.5px solid #dedede;
  border-radius: 50%;
  margin: 5px 0 0 auto;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  padding: 0;
  width: 50px;
  height: 50px;
}

.add-btn:hover,
.add-btn:focus {
  cursor: pointer;
  color: #16db99;
}

/* order list */
.order-inner {
  padding: 10px 0;
}
.order-title {
  font-size: 28px;
  text-align: center;
  margin: 20px 0;
}

.remove-btn {
  background-color: #fff;
  border: none;
}

.order-btn {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: #16db99;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  padding: 18px 0;
  margin: 28px 0;
  width: 100%;
}

/* order items */
.order-item {
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.order-total {
  border-top: 2px solid #393333;
  display: flex;
  align-items: center;
}
